# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# API Keys and Secrets
*api_key*
*secret*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Exclude generated scripts
generate_commits.py

# OmniExtract Specific Cache & Logs
.rfp_cache/
logs/
*.log
Bid1_JSON/
Bid2_JSON/

# IDEs
.vscode/
.idea/
*.swp
*.swo
